# Data Cleaning and Munging Script - City Data Portal

In [3]:
import pandas as pd

In [16]:
austin_zips = (78701,
78702,
78703,
78704,
78705,
78717,
78719,
78721,
78722,
78723,
78724,
78725,
78726,
78727,
78728,
78729,
78730,
78731,
78732,
78733,
78734,
78735,
78736,
78737,
78738,
78739,
78741,
78742,
78744,
78745,
78746,
78747,
78748,
78749,
78750,
78751,
78752,
78753,
78754,
78756,
78757,
78758,
78759,
78617,
78653,
78660)

### Permits Data

In [4]:
permits_data = pd.read_csv("raw_data/Issued_Construction_Permits.csv")

/Users/carolinekinnen/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (54,58,59,60,61,62,63,64,65) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [41]:
permits = permits_data.loc[:,('Permit Num', 'Permit Class Mapped', 'Calendar Year Issued', 
                    'Total Job Valuation', 'Original Zip')]

permits = permits[permits['Calendar Year Issued'] >= 2011]
permits = permits[permits['Original Zip'].isin(austin_zips)]

In [44]:
permits_year_count = permits.groupby(['Calendar Year Issued', 'Original Zip']).size().reset_index()
permits_year_count.rename(columns = {0: "Count"}, inplace = True)

In [62]:
permits_year_count

     Calendar Year Issued  Original Zip  Count
0                    2011       78617.0    485
1                    2011       78653.0     12
2                    2011       78660.0    303
3                    2011       78701.0   1427
4                    2011       78702.0   1806
..                    ...           ...    ...
501                  2021       78754.0    614
502                  2021       78756.0    246
503                  2021       78757.0    801
504                  2021       78758.0    511
505                  2021       78759.0    651

[506 rows x 3 columns]